body{
    background-color: aqua;
}
body{
    background-color: rgb(192, 47, 47);
}
.post-container{
    display: flex;
}
.card{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 20px auto;
    max-width: 600px;
    box-shadow: inset 4 11 7px rgba(26, 85, 9, 0.1);
}       
.btn{
font-size: large;
color: snow;
text-decoration-line: none;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(192, 47, 47);
margin: 6px;
padding: 6px;
border-radius: 4px;
}

.btn:hover{
    background-color: rgb(50, 13, 135);
transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
padding: 10px;
}

@media screen and (max-width: 600px) {
    .post-container{
        flex-direction: column;
    }
    .btn{
        display: block;
    text-align: center;
    }
}